.links{
    font-size: 45px;
    font-weight: bold;
    color:antiquewhite;
    background-color: blue;

}

p {

   font-size: 28px;

}

h1 {
    color: gold;
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


h2{
    border: 4px dotted royalblue;
}
ol{
    font-style:italic; 
    margin-left: 100px;
    border:20px;
    border-color: blue;
    padding: 25px;
}