.links{
    font-size: 45px;
    font-weight: bold;
    color:antiquewhite;
    background-color: blue;
}

p {

   font-size: 28px;

}

h1 {
    color: gold;
    background-color: black;
    font-family:fantasy;
}